**

!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!turbo.json
!tsconfig.json
!.npmrc

!apps/
!apps/humayro/
!apps/humayro/**
!packages/
!packages/ui/
!packages/ui/**
!packages/typescript-config/
!packages/typescript-config/**
!packages/eslint-config/
!packages/eslint-config/**

**/.env*
**/node_modules
**/.next
**/.turbo
**/*.tsbuildinfo
